main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
}

.card {
  background-color: blueviolet;
  width: 33.33%;
  height: 33.33%;
  margin: 5px;

  padding: auto;
}

.flip-card-inner {
  width: 40vh;
  height: 40vh;
}

.back {
  background-size: cover;
  background-color: dodgerblue;
  width: 40vh;
  height: 40vh;
}

.front {
  background-size: cover;
  background-color: #5e5b5b;
  width: 40vh;
  height: 40vh;
}

.back,
.front,
.card {
  border: #000000;
  border-radius: 20%;
}
