body {
  display: flex;
  flex-direction: column;
  font-family: "Grape Nuts", cursive;
  color: #aa78a6;
  background-color: #d7fdf0;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}

.card {
  display: flex;
  /*backgroundy-color: blueviolet;*/

  justify-content: center;
}

.back {
  background-size: cover;
  /*background-color: dodgerblue;*/
  width: 100%;
  height: 20vh;
}

.front {
  background-size: cover;
  /*background-color: #5e5b5b;*/
  /*width: 40vw;*/
  height: 20vh;
}

.back,
.front,
.card {
  border: 2px solid;
  border-radius: 20%;
  border-color: #b2ffd6;
  box-shadow: 10px 10px 8px #b4d6d3;
}

footer,
header {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  gap: 5px;
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 3vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 5vh;
}

.rows,
.columns,
.restart,
.start {
  font-family: "Grape Nuts", cursive;
  font-size: 3vh;
  font-weight: bolder;
  color: #aa78a6;
}

.start,
.restart {
  height: 10vh;
  width: 10vw;
  /* border: hidden; */
  border: 3px outset;
  border-radius: 20px;
  border-color: #b4d6d3;
  font-size: 4vh;
}
.rows,
.columns {
  border: 5px solid #b2ffd6;
  text-align: center;
  border-radius: 50px;
}

label {
  font-size: 3vh;
  font-weight: bolder;
}
span {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
}
.welcome {
  font-size: 10vh;
}
