main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
}

.card {
  display: flex;
  background-color: blueviolet;
  width: 33.33%;
  height: 33.33%;
  margin: 5px;
  border: 5px solid #000000;
  justify-content: center;
  padding: auto;
}

.flip-card-inner {
  /*width: 40vw;*/
  height: 40vh;
}

.back {
  background-size: cover;
  background-color: dodgerblue;
  width: 40vh;
  height: 40vh;
}

.front {
  background-size: cover;
  background-color: #5e5b5b;
  width: 40vh;
  height: 40vh;
}

.back,
.front,
.card {
  border-radius: 20%;
}
